<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trendy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <div class="admin-bar">
      <div class="buttons">
        <button class="button"><%= link_to "New Post", new_post_path %></button>
        <button class="button"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></button>
      </div>
    </div>
    <% end %>
    <% flash.each do |name, message| %>
    <%= content_tag(:div, message, class: "alert") %>
    <% end %>
    <div id="logo">
      <!-- <%= link_to root_path do %>
        <%= image_tag "logo.svg" %>
      <% end %> -->
    </div>
    <!-- <%= link_to root_path do %>
    <h1 class="main-logo">Trendy.io</h1>
    <% end %> -->
    <div id="sidebar">
      <ul>
        <li class="category">Categories</li>
        <li><a href="#">All</a></li>
        <li><a href="#">Fashion</a></li>
        <li><a href="#">Design</a></li>
        <li><a href="#">Tech</a></li>
        <li><a href="#">Art</a></li>
        <li><a href="#">Other Stuff</a></li>
      </ul>
      <ul>
        <li class="category">Contribute</li>
        <li><%= link_to "Submit a link", about_path %></li>
      </ul>
      <% if !user_signed_in? %>
      <p class="sign_in">Admin Login</p>
      <% end %>
    </div>

    <div id="main_content">
      <div id="header">

        <h4 class="main-logo"></h4>
        <% if current_page?(root_path) %>
        <!-- <p>All Posts</p> -->
        <% elsif current_page?(about_path) %>
        <p>About</p>
        <% else %>
        <%= link_to "Back to All Posts", root_path %>
        <% end %>

      </div>

      <%= yield %>
    </div>

  </body>
</html>
