<% @posts.each do |post| %>
  <div class="post_wrapper box-shadow">
    <div class="index-image"><%= image_tag post.image.url(:large) %></div>
    <h2 class="title"><%= link_to post.title, post.url %></h2>
    <p class="post-body display-none"><%= link_to post.body, post %></p>
    <div class="details display-none">
        <p class="display-none"><span class="date"><strong>$249</strong></span>  <span class="price-link">Check it out</span></p>
    </div>
    <% if user_signed_in? %>
    <div class="post-tags"><%= raw post.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %></div>
    <br>
    <%= link_to "Edit", edit_post_path(post) %>
    <%= link_to "Delete", post_path(post), method: :delete, data: {confirm: 'Are you sure you want to delete this post?'} %>
    <% end %>
    <div class="clear"></div>
  </div>
<!-- <span class="date"><%= post.created_at.strftime("%B, %d, %Y") %></span> -->
<% end %>
